body {
    /*font-weight: bold;*/
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #eeeff5;
    height: 1000px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #051937, #1b3157, #304b79, #46679d, #5c85c2);
    overflow-x: hidden;
    /*padding-top: 20px;*/
}

.sidenav #headernav {
    padding: 20px 8px 20px 16px;  
    color: #b8c0c1;
    /*background-color: #354853;*/
}

.sidenav #navdivision {
    color: #4b646f;
    background: #000D21;
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top:0;
}

.sidenav h3 {
    margin: 0;
    font-weight: 100;
}

.sidenav p {
    font-size: 15px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #b8c0c1;
    display: block;
}

.sidenav .navelem:hover {
    color: #fff;
    background: #061A38;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#content {
    padding: 30px 60px 60px 60px;
    background-color: #fff;
    min-height: 0;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
    box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
    margin-right: auto;
    /*margin: 20px;*/
    margin-left: 200px; 
    height: auto;
}

#content li {
    font-style: italic;
}

#content li, p {
    font-size: 14px;
    line-height: 20px;
}

ul.bullet {list-style: disc}

#part3 #linediv {
    border-bottom: 3px solid #202020;    
    margin-top: 30px;
}

#part3 #article {
    /*margin: 10px 200px 0 20px;*/
    font-family: Georgia;
}

.centerdiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
}

#part3 #graphics { 
/*    position: relative; 
    float: bottom; 
    visibility: visible; 
    z-index: 200; */
    margin: 50px 0 30px 0;
} 

#part3 #options, #part4 #optionsPart4 { 
    vertical-align: top;
} 

#part3 #options li:first-child, #part4 #optionsPart4 li:first-child{ 
    padding-top:100px;
}

.centergraphs {
    display: inline-block;
}

#part3 ul{
    display: inline;
}

#part3 li{
    list-style:square;    
    font-style: normal;
    font-size: 25px;
}

#part3 li:hover, #part4 li:hover{
    opacity: 0.6;
}

#part3 #ff {
    color:#ff2a1a;   
}

#part3 #sf {
    color:#ff9ea1;
}

#part3 #fv {
    color:#008d14;
}

#part3 #sv {
    color:#c5d2a7;  
}

#part3 li span{
    color:black;    
    cursor: pointer;
    font-size: 14px;
    opacity: 1;
}

#part3 #graphic .x text {
        font-family: sans-serif;
        font-size: 11px;
}

#part3 #graphic .y text {
        font-family: sans-serif;
        font-size: 11px;
}

#part4 .line{
        fill: none;
        stroke: black;
        }
#part4 .menLine{
        fill: none;
        stroke: black;
        }
#part4 .womenLine{
        fill: none;
        stroke: black;
        }
#part4 .trendline{
        stroke-dasharray: 5;
}
#part4 #point{font-size: 15px
        }
#part4 #point:hover{
        fill:darkgreen;
        cursor: pointer;
}

#part4 li{
    font-style: normal;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav a {font-size: 15px;}
}

@media screen and (max-width: 920px) {
    #content {width: 600px;}
}

@media screen and (max-width: 1085px) {
    #part3 #options li:first-child, #part4 #optionsPart4 li:first-child { 
        padding-top:0;
    }
    #part3 #graphics { 
        text-align: center;
    } 

}